body{
    background: rgb(255,0,0);
    background: linear-gradient(211deg, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 50%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.cont{
    background: rgb(105,0,90);
    background: linear-gradient(211deg, rgba(105,0,90,1) 50%, rgba(195,23,87,1) 50%);
    width: 40vw;
    height: 60vh;
    margin: 100px 0px 0px 350px;
    position: relative;
    border-radius: 20%;
}
.main{ 
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 1px 0px 0px 50px;
    position: relative;
}
.img{
    margin-top: 40px;
    width: 200px;
    height: fit-content;
    display: flex;
    animation: slide_animation 20s infinite;
    position: relative;
}
@keyframes slide_animation{
    0%{right: 0px;}
    10%{right: 200px;}
    20%{right: 400px;}
    30%{right: 600px;}
    40%{right: 800px;}
    50%{right: 1000px;}
    60%{right: 1200px;}
    70%{right: 1000px;}
    80%{right: 800px;}
    85%{right: 600px;}
    90%{right: 400px;}
    95%{right: 200px;}
    100%{right: 0px;}
}
.name{
    letter-spacing: 1px;
    position: relative;
    font-size: x-large;
    font-weight: 900px;
    bottom: 280px;
    left: 310px;
    color: goldenrod;
    border: 2px solid aqua;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}
.snapchat{
    position: relative;
    bottom: 250px;
    left: 310px;
    color: yellow;
}
.instagram{
    position: relative;
    bottom: 250px;
    left: 310px;
    color: rgb(255, 0, 0);
}
.slink{
    position: relative;
    bottom: 295px;
    left: 375px;
    color: yellow;
    text-decoration: none;
    font-size: large;
    font-weight: 500px;
}
#ilink{
    position: relative;
    bottom: 275px;
    left: 325px;
    color: red;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500px;
}
@media (max-width: 940px){
    .cont{
        margin: 0px 0px 0px 10px;
        position: relative;
        width: 50vw;
        height: 50vh;
        background: rgb(255,0,0);
        background: linear-gradient(230deg, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 50%);
    }
    .main{ 
        width: 60vw;
        height: 60vh;
        overflow: hidden;
        margin: 0px 0px 100px 60px;
        position: relative;
    }
    .img{
        width: 250px;
        height: fit-content;
        display: flex;
        animation: slide_animation 20s infinite;
        position: relative;
    }
    @keyframes slide_animation{
        0%{right: 0px;}
        10%{right: 200px;}
        20%{right: 420px;}
        30%{right: 680px;}
        40%{right: 860px;}
        50%{right: 1120px;}
        60%{right: 1300px;}
        70%{right: 1080px;}
        80%{right: 860px;}
        85%{right: 640px;}
        90%{right: 420px;}
        95%{right: 200px;}
        100%{right: 0px;}
    }
    .name{
        position: relative;
        font-size: x-large;
        font-weight: 900px;
        bottom: 90px;
        left: 65px;
        color: goldenrod;
        border: 2px solid aqua;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
    }
    .snapchat{
        position: relative;
        bottom: 75px;
        left: 65px;
        color: yellow;
    }
    .instagram{
        position: relative;
        bottom: 85px;
        left: 65px;
        color: rgb(255, 0, 0);
    }
    .slink{
        position: relative;
        bottom: 120px;
        left: 130px;
        color: yellow;
        text-decoration: none;
        font-size: large;
        font-weight: 500px;
    }
    #ilink{
        position: relative;
        bottom: 110px;
        left: 85px;
        color: rgb(255, 0, 0);
        text-decoration: none;
        font-size: x-large;
        font-weight: 500px;
    }
}
